
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Add</title>
</head>
<body>
   <div class="container">
       <div class="row">
            <form method="post" class="col-8 offset-2">
                <div class="mb-3">
                    <label for="name" class="form-label">Adi</label>
                    <input type="text" id="name" name="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Soyad</label>
                    <input type="text" id="surname" name="Surname" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Yaş</label>
                    <input type="number" min="0" max="70" id="age" name="Age" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="speciality" class="form-label">Ixtisas</label>
                    <input type="text" id="speciality" name="Speciality" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">
                        Yadda saxla
                    </button>
                    <a asp-action="index" class="btn btn-info">Geri qayit</a>
                </div>
            </form>
       </div>
   </div>
</body>
</html>
